<header>
  <h4>User Listing</h4>
</header>
<div class="user-list">
  <div class="profile-card" *ngFor="let user of users">
    <div class="profile-image">
      <img [src]="user.avatar" alt="User Profile Picture" />
    </div>
    <div class="profile-name">
      {{ user.name }}
    </div>
    <div class="profile-info">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
      <p>
        <strong>Employment Date:</strong>
        {{ user.creationAt.toString().split("T")[0] }}
      </p>
    </div>
  </div>
</div>
