body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2162a8;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.user {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.user img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 20px;
  margin-top: 10px;
}

.profile-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.profile-image img {
  max-width: 100%;
  height: auto;
}

.profile-name {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.profile-info {
  text-align: center;
}

.profile-info p {
  margin: 5px 0;
}

.profile-info strong {
  font-weight: bold;
}
