<div class="tasks-container">
  <div class="heading-container">
    <div class="heading-txt">Tasks</div>
    <div>
      <app-add-task></app-add-task>
    </div>
  </div>

  <table id="customers">
    <tr>
      <th>Description</th>
      <th>Created At</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let task of tasks | dateFilter" appDisableTask>
      <td>{{ task.description }}</td>
      <td>{{ task.createdAt }}</td>
      <td><input [disabled]="isDisabled" [(ngModel)]="task.isDone" type="checkbox"/></td>
    </tr>
  </table>
</div>
