<header>
  <h1>User Listing</h1>
</header>
<div class="user-list" *ngFor="let user of users">
  <!-- <div class="user">
    <img [src]="user.images?.[0]" alt="user" />
    <h2>{{ user.title }}</h2>
    <p class="price">${{ user.price }}</p>
    <p>{{ user.description }}</p>
  </div> -->

  <div class="profile-card">
    <div class="profile-image">
      <img [src]="user.avatar" alt="User Profile Picture" />
    </div>
    <div class="profile-name">
      {{ user.name }}
    </div>
    <div class="profile-info">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
      <p>
        <strong>Employment Date:</strong>
        {{ user.creationAt.toString().split("T")[0] }}
      </p>
    </div>
  </div>
</div>
