<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form action="login.php" method="post">
      <div class="input-group">
        <label for="username">Email</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          [(ngModel)]="authInfo.email"
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          [(ngModel)]="authInfo.password"
        />
      </div>
      <button (click)="login()">Login</button>
    </form>
  </div>
</div>
